# Dependencies
node_modules/
.pnpm-store/
pnpm-lock.yaml
package-lock.json

# Build outputs
dist/
dist-ssr/
build/

# Logs
logging/
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Runtime
.env.local
*.local

# Editor cache
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
*.swo
